* {
  /* With these codes padding and border does not increase it's width and gives intuitive style.*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.text {
  text-shadow: white 0px 0px 20px;
  color: black;
  font-weight: bold;
}

/* BODY */
body {
  background-color: white;
  background-image: url('https://techcrunch.com/wp-content/uploads/2015/11/shutterstock_322845356.jpg?w=1390&crop=1');
  font: 'ariel', 'roboto';
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
